REACT_APP_API_BASE_URL=https://library-management-system-uff0.onrender.com
CORS_ORIGINS=https://library-management-system-git-main-sumans-projects-b1f2141c.vercel.app

MONGO_URI=mongodb+srv://karmakarsuman12138_db_user:QPt9wozpGspPI4hn@cluster0.qyld1fz.mongodb.net/?appName=Cluster0